<ion-tabs>
  <ion-tab-bar slot = "start">

    <ion-tab-button tab = "media">
      <ion-label>CÁMARA</ion-label>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab = "googlemaps">
      <ion-label>UBICACIÓN</ion-label>
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab = "climate">
      <ion-label>CLIMA</ion-label>
      <ion-icon name="cloudy-night-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> 